/*
body {
  background-image: linear-gradient(to right,#998899 , #408080);
}

h1 {
  font-size: 40px;
  color:  #303030;
  text-align: center;
  text-shadow: 2px 2px 5px #333333, 0 0 25px #331122;
}


p {
  color: #202020;
  text-align: center;
  font-family: Times New Roman, serif;

}

}
div:hover {
  background-color: grey;
}
*/

.board{
 width:640px;
 height: 640px;
 border: 20px solid #777;
}
.square{
 float: left;
 width:80px;
 height: 80px;
 display: flex;
 align-items: center;
 justify-content: center;

}
.wh1{background-color: #eee}
.bl1{background-color: #999}
.figure{
 font-size: 60px;
 cursor: hand;
 cursor: move;


}
.wh1:hover {background: #ccc}
.bl1:hover {background: #777}